<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.advancementbureau.socialcalc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:maxSdkVersion="15" android:minSdkVersion="10" />
    

    <application
        android:icon="@drawable/temp_icon"
        android:label="@string/app_name" android:debuggable="false">
        <activity
            android:name=".SocialCalcActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SettingsActivity" android:label="@string/settings"></activity>
        <activity android:name="HelpActivity" android:label="@string/help"></activity>
    </application>

</manifest>